# net.minecraft.world.level.Level

public-f net.minecraft.world.level.Level levelData # levelData

# net.minecraft.world.server.ServerWorld

public-f net.minecraft.server.level.ServerLevel serverLevelData # serverLevelData